* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid #cccccc;
  padding: 25px;
  border-radius: 5px;
}
.container img {
  width: 100px;
}
h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  line-height: 1.6em;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
  border: 1px solid #cccccc;
  margin-right: 15px;
  transition: all 0.5s ease;
}

ul li:hover {
  background: #cccccc;
}

.skills,
.bio,
.links {
  margin-top: 10px;
}
