.btn {
    background: rgb(0, 255, 191);
    padding: 10px 20px;
    margin: 12px ;
    outline: none;
    border:none;
    cursor: pointer;
}

.timer__count {

    background:rgb(60, 255, 0);
    padding: 10px 30px;
    margin: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}